@model QinJilu.Core.RecordInfo
@{
    ViewBag.Title = "亲记录 - Qinjilu_com";
    int prev = Model.DateTicks - 1;
    int next = Model.DateTicks + 1;

    DateTime dt = QinJilu.Core.DateTimeEx.BeginDate.AddDays(Model.DateTicks);

    List<QinJilu.Core.UserTags> all_tags = ViewBag.all_tags;
    List<MongoDB.Bson.ObjectId> sel_tagIds = ViewBag.sel_tagIds;
    List<QinJilu.Core.RecordNote> cur_notes = ViewBag.cur_notes;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="qinjilu">
    <meta name="description" content="qinjilu">
    <meta name="author" content="lcskey@qq.com">
    <meta name="keywords" content="qinjilu">
    <link href="~/Content/metro-ui/css/metro-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/metro-ui/css/metro-bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/metro-ui/css/iconFont.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/metro-ui/jquery.ui.widget.js"></script>
    <script src="~/Scripts/metro-ui/metro.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/jquery.dragsort-0.5.2.min.js"></script>
    <title>@ViewBag.Title</title>
    <style type="text/css">
        .metro .example:before {
            content: "new tag";
        }

        .metro .listview .list {
            width: auto;
        }

        .tab-control {
            min-width: 280px;
        }

        .error {
            padding-left: 20px;
            color: red;
        }
    </style>
</head>
<body class="metro">
    <div class="container">
        <h1 class="text-center">
            <a href="/Weixin/More/Index?dateticks=@prev"><i class="icon-arrow-left-3 fg-darker on-left-more"></i></a>
            <b title="@Model.DateTicks">@dt.ToString("yyyy-MM-dd")</b>
            <a href="/Weixin/More/Index?dateticks=@next"><i class="icon-arrow-right-3 fg-darker on-right-more"></i></a>
        </h1>
        <div id="d_btns" class="grid fluid">
            <div class=" row">
                <div class="span4">
                    <button title="period" class="shortcut danger ">
                        <i class=" icon-cloud-7" title="@Model.Period"></i>
                        经血
                    </button>
                </div>
                <div class="span4">
                    <button title="pain" class="shortcut primary">
                        <i class="icon-power" title="@Model.Pain"></i>
                        疼痛
                    </button>
                </div>
                <div class=" span4">
                    <button title="sex" class="shortcut warning">
                        <i class="icon-heart" title="@Model.Sex"></i>
                        爱爱
                    </button>
                </div>
            </div>
            <div class=" row">
                <div class=" span4">
                    <button title="mood" class="shortcut default">
                        <i class=" icon-smiley" title="@Model.Mood"></i>
                        心情
                    </button>
                </div>
                <div class=" span4">
                    <button title="fluid" class="shortcut success">
                        <i class="icon-windy" title="@Model.Fluid"></i>
                        白带
                    </button>
                </div>
                <div class=" span4">
                    <button title="tags" class="shortcut ">
                        <i class="icon-bookmark-3"></i>
                        标签
                    </button>
                </div>
            </div>
        </div>
        <hr />
        @*  标签  *@
        <div id="d_tags" class="tab-control" data-role="tab-control">
            <ul class="tabs">
                <li class="active"><a href="#_page_1">我的自定义标签</a></li>
                <li><a href="#_page_2">创建新标签</a></li>
                <li class="place-right"><a href="#_page_3"><i class="icon-cog"></i></a></li>
            </ul>
            <div class="frames">
                <div class="frame" id="_page_1">
                    <div class="listview">
                        @foreach (var item in all_tags.Where(x => sel_tagIds.Contains(x.TagId)))
                        {
                            <a href="#" class="list" data-tagid="@item.TagId" data-selected="@sel_tagIds.Any(x=>x==item.TagId)">
                                <div class="list-content">
                                    <i class="icon-tag on-left"></i>@item.Tag
                                </div>
                            </a>
                        }
                        @foreach (var item in all_tags.Where(x => !sel_tagIds.Contains(x.TagId)))
                        {
                            <a href="#" class="list" data-tagid="@item.TagId" data-selected="@sel_tagIds.Any(x=>x==item.TagId)">
                                <div class="list-content">
                                    <i class="icon-tag on-left"></i>@item.Tag
                                </div>
                            </a>
                        }
                    </div>
                </div>
                <div class="frame text-center" id="_page_2">
                    <form id="f_newtag" action="/Weixin/More/NewTag" method="post">
                        <div class="input-control text" data-role="input-control">
                            <input name="tag" type="text" value="" placeholder="输入新标签的名称" data-rule-required="true" />
                        </div>
                        <button type="submit" class="command-button">
                            <i class="icon-floppy on-right"></i>
                            保存为新标签
                            <small>以后可直接选择使用</small>
                        </button>
                    </form>
                </div>
                <div class="frame" id="_page_3">
                    <div class="panel">
                        <div class="listview">
                            @foreach (var item in all_tags.OrderBy(x => x.SortNo).ThenBy(x => x.CreateOn))
                            {
                                <a href="#" class="list shadow" data-tagid="@item.TagId" data-sortno="@item.SortNo">
                                    <div class="list-content">
                                        <i class="icon-menu on-left" title="@item.SortNo"></i>@item.Tag
                                        <i class="icon-cancel on-right  fg-red"></i>
                                    </div>
                                </a>
                            }
                            @*<a href="#" class="list shadow">
                                    <div class="list-content">
                                        <i class="icon-menu on-left"></i>新标签1新标签1新标签1
                                        <i class="icon-cancel on-right-more fg-red"></i>
                                    </div>
                                </a>
                                <a href="#" class="list shadow">
                                    <div class="list-content">
                                        <i class="icon-menu on-left"></i>新标签1
                                        <i class="icon-cancel on-right  fg-red"></i>
                                    </div>
                                </a>
                                <a href="#" class="list shadow">
                                    <div class="list-content">
                                        <i class="icon-menu on-left"></i>新标签1新标签1新标签1新标签1新标签1新标签1新标签1新标签1新标签1
                                        <i class="icon-cancel on-right-more fg-red"></i>
                                    </div>
                                </a>
                                <div class="list shadow">
                                    <div class="list-content">
                                        <i class="icon-menu on-left"></i>
                                        新标签1
                                        <i class="icon-cancel on-right-more fg-red"></i>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="d_details">
            @*  经血    bg-darkRed  *@
            <div id="d_period" class="grid fluid text-center" data-single="single" data-val="@QinJilu.Core.FieldName.Period">
                <div class="row">
                    <div class=" span6">
                        <div class="tile bg-darkRed" data-val="@QinJilu.Core.Options.a" data-selected="@Model.Period.HasFlag(QinJilu.Core.Options.a)">
                            <div class="tile-content icon">
                                <i class="icon-rainy-3"></i>
                            </div>
                            <div class="brand">
                                <div class="label">轻微</div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="tile bg-darkRed" data-val="@QinJilu.Core.Options.b" data-selected="@Model.Period.HasFlag(QinJilu.Core.Options.b)">
                            <div class="tile-content icon">
                                <i class="icon-rainy-4"></i>
                            </div>
                            <div class="brand">
                                <div class="label">适量</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="tile bg-darkRed" data-val="@QinJilu.Core.Options.c" data-selected="@Model.Period.HasFlag(QinJilu.Core.Options.c)">
                            <div class="tile-content icon">
                                <i class="icon-weather-5"></i>
                            </div>
                            <div class="brand">
                                <div class="label">大量</div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="tile bg-darkRed" data-val="@QinJilu.Core.Options.d" data-selected="@Model.Period.HasFlag(QinJilu.Core.Options.d)">
                            <div class="tile-content icon">
                                <i class="icon-windy-5"></i>
                            </div>
                            <div class="brand">
                                <div class="label">意外</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*  疼痛    bg-darkBlue  *@
            <div id="d_pain" class="grid fluid text-center" data-val="@QinJilu.Core.FieldName.Pain">
                <div class="row">
                    <div class=" span6">
                        <div class="tile bg-darkBlue" data-val="@QinJilu.Core.Options.a" data-selected="@Model.Pain.HasFlag(QinJilu.Core.Options.a)">
                            <div class="tile-content icon">
                                <i class="icon-accessibility"></i>
                            </div>
                            <div class="brand">
                                <div class="label">抽筋</div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="tile bg-darkBlue" data-val="@QinJilu.Core.Options.b" data-selected="@Model.Pain.HasFlag(QinJilu.Core.Options.b)">
                            <div class="tile-content icon">
                                <i class="icon-finder"></i>
                            </div>
                            <div class="brand">
                                <div class="label">头痛</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="tile bg-darkBlue" data-val="@QinJilu.Core.Options.c" data-selected="@Model.Pain.HasFlag(QinJilu.Core.Options.c)">
                            <div class="tile-content icon">
                                <i class="icon-firefox"></i>
                            </div>
                            <div class="brand">
                                <div class="label">腹痛</div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="tile bg-darkBlue" data-val="@QinJilu.Core.Options.d" data-selected="@Model.Pain.HasFlag(QinJilu.Core.Options.d)">
                            <div class="tile-content icon">
                                <i class="icon-flickr"></i>
                            </div>
                            <div class="brand">
                                <div class="label">乳房痛</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*  爱爱    bg-orange  *@
            <div id="d_sex" class="grid fluid text-center" data-val="@QinJilu.Core.FieldName.Sex">
                <div class="row">
                    <div class=" span6">
                        <div class="tile bg-orange" data-val="@QinJilu.Core.Options.a" data-selected="@Model.Sex.HasFlag(QinJilu.Core.Options.a)">
                            <div class="tile-content icon">
                                <i class="icon-upload-2"></i>
                            </div>
                            <div class="brand">
                                <div class="label">无保护</div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="tile bg-orange" data-val="@QinJilu.Core.Options.b" data-selected="@Model.Sex.HasFlag(QinJilu.Core.Options.b)">
                            <div class="tile-content icon">
                                <i class="icon-umbrella"></i>
                            </div>
                            <div class="brand">
                                <div class="label">有保护</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="tile bg-orange" data-val="@QinJilu.Core.Options.c" data-selected="@Model.Sex.HasFlag(QinJilu.Core.Options.c)">
                            <div class="tile-content icon">
                                <i class="icon-box"></i>
                            </div>
                            <div class="brand">
                                <div class="label">未插入</div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="tile bg-orange" data-val="@QinJilu.Core.Options.d" data-selected="@Model.Sex.HasFlag(QinJilu.Core.Options.d)">
                            <div class="tile-content icon">
                                <i class="icon-loop"></i>
                            </div>
                            <div class="brand">
                                <div class="label">体外</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*  心情    bg-teal  *@
            <div id="d_mood" class="grid fluid text-center" data-val="@QinJilu.Core.FieldName.Mood">
                <div class="row">
                    <div class=" span6">
                        <div class="tile bg-teal" data-val="@QinJilu.Core.Options.a" data-selected="@Model.Mood.HasFlag(QinJilu.Core.Options.a)">
                            <div class="tile-content icon">
                                <i class="icon-reddit"></i>
                            </div>
                            <div class="brand">
                                <div class="label">开心</div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="tile bg-teal" data-val="@QinJilu.Core.Options.b" data-selected="@Model.Mood.HasFlag(QinJilu.Core.Options.b)">
                            <div class="tile-content icon">
                                <i class="icon-xing"></i>
                            </div>
                            <div class="brand">
                                <div class="label">敏感</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="tile bg-teal" data-val="@QinJilu.Core.Options.c" data-selected="@Model.Mood.HasFlag(QinJilu.Core.Options.c)">
                            <div class="tile-content icon">
                                <i class="icon-pinterest"></i>
                            </div>
                            <div class="brand">
                                <div class="label">伤心</div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="tile bg-teal" data-val="@QinJilu.Core.Options.d" data-selected="@Model.Mood.HasFlag(QinJilu.Core.Options.d)">
                            <div class="tile-content icon">
                                <i class="icon-yelp"></i>
                            </div>
                            <div class="brand">
                                <div class="label">烦躁</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*  白带    bg-lightOlive  *@
            <div id="d_fluid" class="grid fluid text-center" data-single="single" data-val="@QinJilu.Core.FieldName.Fluid">
                <div class="row">
                    <div class=" span6">
                        <div class="tile bg-lightOlive" data-val="@QinJilu.Core.Options.a" data-selected="@Model.Fluid.HasFlag(QinJilu.Core.Options.a)">
                            <div class="tile-content icon">
                                <i class="icon-droplet"></i>
                            </div>
                            <div class="brand">
                                <div class="label">蛋白</div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="tile bg-lightOlive" data-val="@QinJilu.Core.Options.b" data-selected="@Model.Fluid.HasFlag(QinJilu.Core.Options.b)">
                            <div class="tile-content icon">
                                <i class="icon-soundcloud"></i>
                            </div>
                            <div class="brand">
                                <div class="label">粘稠</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="tile bg-lightOlive" data-val="@QinJilu.Core.Options.c" data-selected="@Model.Fluid.HasFlag(QinJilu.Core.Options.c)">
                            <div class="tile-content icon">
                                <i class="icon-stumbleupon"></i>
                            </div>
                            <div class="brand">
                                <div class="label">稀薄</div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="tile bg-lightOlive" data-val="@QinJilu.Core.Options.d" data-selected="@Model.Fluid.HasFlag(QinJilu.Core.Options.d)">
                            <div class="tile-content icon">
                                <i class="icon-forrst"></i>
                            </div>
                            <div class="brand">
                                <div class="label">意外</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel  no-border">
            <div class="panel-header bg-pink  fg-white">
                <i class="icon-clock on-left"></i>@dt.ToString("yyyy-MM-dd")
            </div>
            <div class="panel-content" id="d_abs">
            </div>
        </div>

        <div class="listview">
            @foreach (var item in cur_notes)
            {
                <a href="#" class="list">
                    <div class="list-content">
                        <i class="icon-clock on-left"></i>@item.CreateOn.ToString("yyyy-MM-dd HH:mm:ss")
                        <br />
                        @item.Notes
                    </div>
                </a>
            }
        </div>

        @*<hr />
            <div class="panel  no-border">
                <div class="panel-header bg-pink  fg-white">
                    <i class="icon-clock on-left"></i>2015-05-12
                </div>
                <div class="panel-content">
                    @Newtonsoft.Json.JsonConvert.SerializeObject(Model)
                </div>
            </div>
            <div class="panel  no-border">
                <div class="panel-header bg-pink  fg-white">
                    <i class="icon-clock on-left"></i>2015-05-12
                </div>
                <div class="panel-content">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </div>
            </div>*@
    </div>
    <div class="padding20"></div>
</body>
</html>
<script type="text/javascript">

    function hide_all() {
        $("#d_tags").hide();
        $("#d_mood").hide();
        $("#d_period").hide();
        $("#d_pain").hide();
        $("#d_sex").hide();
        $("#d_fluid").hide();
    }



    $(document).ready(function () {
        hide_all();



        $("#_page_3 div.listview").dragsort({
            //itemSelector:'a.list', // 默认就是为‘listview’下面的一级子元素.
            dragSelector: "i.icon-menu",//可以拖动的元素,在这个元素上面才会显示拖动的手形
            dragEnd: function () {
                var o = $(this);

            },
            dragBetween: true,//是否允許在多個可拖移的元素中互相移動插入
            placeHolderTemplate: "<div class='list'></div>"// 拖走以后，原来的元素显示的占位附
        });


        //  http://www.cnblogs.com/hejunrex/archive/2011/11/17/2252193.html
        $("#f_newtag").validate({
            //debug:true,
            submitHandler: function (_form) {
                $(_form).ajaxSubmit({
                    success: function (responseJson, statusText) {
                        if (responseJson.res) {

                            var tagId = responseJson.tagId;
                            var tag = responseJson.tag;
                            //alert(tagId + ' : ' + tag);
                            $.Notify({ content: "添加成功 " + tag });

                            // 刷新现有标签列表
                            var tmp1 = ''
                            + '<a href="#" class="list " data-tagId="' + tagId + '">'
                            + '    <div class="list-content">'
                            + '        <i class="icon-tag on-left"></i>' + tag
                            + '    </div>'
                            + '</a>';
                            $('#_page_1 div.listview').prepend(tmp1);


                            var sortno = $('#_page_3 div.listview a.list').length + 10000;
                            var tmp2 = ''
                            + '<a href="#" class="list shadow" data-tagId="' + tagId + '" data-sortno="' + sortno + '">'
                            + '    <div class="list-content">'
                            + '        <i class="icon-menu on-left" title="' + sortno + '"></i>' + tag
                            + '        <i class="icon-cancel on-right fg-red"></i>'
                            + '    </div>'
                            + '</a>';
                            $('#_page_3 div.listview').append(tmp2);
                        }
                    }
                });
            },
            rules: {
                tag: {
                    required: true,
                    minlength: 2
                }
            },
            messages: {
                tag: {
                    required: '标签名不能为空!',
                    minlength: '标签名不能少于2位!'
                }
            }
        });

        //  http://kb.cnblogs.com/page/94469/
        $('#_page_1').delegate('a.list', 'click', function () {
            $(this).toggleClass("selected");

            var sed = $(this).hasClass("selected");
            var tagId = $(this).attr("data-tagId");

            $.ajax({
                url: ' /Weixin/More/SelectedTag',
                type: 'POST',
                data: {
                    recordId: '@Model.Id',
                    tagId: tagId,
                    selected: sed
                },
                dataType: 'html'
            }).done(function (msg) {
                $.Notify({ content: "操作成功" });
                get_abs();
            }).fail(function (jqXHR, textStatus) {
                alert('failed: ' + textStatus);
            });
        });

        $('#_page_1 a.list[data-selected="True"]').addClass('selected');
        //$("#_page_1 a.list:odd").addClass("shadow");
        //$("#_page_1 a.list:even").addClass("selected");

        $('#_page_3').delegate('i.icon-cancel', 'click', function () {

            var _tag = $(this).parent().parent();
            var tagId = _tag.attr("data-tagId");

            $.ajax({
                url: ' /Weixin/More/DelTag',
                type: 'POST',
                data: {
                    tagId: tagId
                },
                dataType: 'html'
            }).done(function (msg) {
                $.Notify({ content: "删除成功" });
                _tag.remove();

                // 我的标签那边也要删除掉
                $('#_page_1 a.list[data-tagId="' + tagId + '"]').remove();

                get_abs();
            }).fail(function (jqXHR, textStatus) {
                alert('failed: ' + textStatus);
            });
        });


        $("#d_btns button.shortcut").click(function () {
            hide_all();
            $("#d_" + $(this).attr("title")).show();
        });

        $('#d_details div.tile[data-selected="True"]').addClass('selected');

        $("#d_details div.tile").click(function () {

            var parentc = $(this).parent().parent().parent();


            if (!$(this).hasClass("selected")) {// 如果当前对像原来没有选中
                if (parentc.attr('data-single') == 'single') {// 如果是只能单选的
                    parentc.find('div.selected').removeClass('selected');// 清除原来选中的
                }
            }

            $(this).toggleClass("selected");// 切换当前点击对像的是否选中



            var vals = new Array();

            parentc.find('div.selected').each(function (index) {
                vals.push($(this).attr('data-val'));
            });

            console.warn(parentc.attr('data-val') + ' : ' + vals);

            //  deferred
            //  得到当前选择的值，， ajax

            $.ajax({
                url: ' /Weixin/More/Post',
                type: 'POST',
                data: {
                    recordId: '@Model.Id',
                    fieldName: parentc.attr('data-val'),
                    opt: vals.join('_')
                },
                dataType: 'html'
            }).done(function (msg) {
                $.Notify({ content: "操作成功" });
                get_abs();
            }).fail(function (jqXHR, textStatus) {
                alert('failed: ' + textStatus);
            });





        });


        get_abs();
    });

    // 取得摘要数据
    function get_abs() {
        var tile_abs = new Array();
        $('#d_details div.grid div.row div.selected').each(function () {
            tile_abs.push($(this).text().trim());
        });

        var abs_tags = new Array();
        $('#_page_1 div.listview a.selected').each(function () {
            abs_tags.push($(this).text().trim());
        });

        $('#d_abs').html(tile_abs.join(" , ") + '<br/>' + abs_tags.join(" , "));
    }














</script>